# Created by Yash Arora

Email : arorayash905@gmail.com
GitHub : https://github.com/arorayash905

# WhatsApp Chat Analysis (Private Data)

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/whatsapp-chat/WhatsApp Chat with -gence.txt

In [2]:
pd.pandas.set_option('display.max_columns',None)

In [3]:
chat = pd.read_csv("../input/whatsapp-chat/WhatsApp Chat with -gence.txt", header = None , error_bad_lines = False,encoding = 'utf8')
chat.head()

b'Skipping line 2480: expected 4 fields, saw 5\nSkipping line 3162: expected 4 fields, saw 52\nSkipping line 3705: expected 4 fields, saw 5\nSkipping line 8578: expected 4 fields, saw 6\nSkipping line 8684: expected 4 fields, saw 6\nSkipping line 9551: expected 4 fields, saw 6\nSkipping line 9649: expected 4 fields, saw 9\nSkipping line 9650: expected 4 fields, saw 9\nSkipping line 9651: expected 4 fields, saw 9\nSkipping line 9652: expected 4 fields, saw 9\nSkipping line 9653: expected 4 fields, saw 9\nSkipping line 9654: expected 4 fields, saw 9\nSkipping line 10508: expected 4 fields, saw 5\nSkipping line 11080: expected 4 fields, saw 5\n'

,0,1,2,3
0,5/3/20,4:14 PM - Messages and calls are end-to-end e...,not even WhatsApp,can read or listen to them. Tap to learn more.
1,5/3/20,"4:14 PM - Abhishek tyagi created group ""Final...",NaN,NaN
2,5/3/20,4:14 PM - Abhishek tyagi added you,NaN,NaN
3,5/3/20,4:14 PM - Abhishek tyagi changed this group's...,NaN,NaN
4,5/3/20,4:21 PM - Abhishek tyagi changed the subject ...,NaN,NaN

In [4]:
chat.drop([2, 3], axis = 1, inplace = True)
chat

             0                                                  1
0       5/3/20   4:14 PM - Messages and calls are end-to-end e...
1       5/3/20   4:14 PM - Abhishek tyagi created group "Final...
2       5/3/20                 4:14 PM - Abhishek tyagi added you
3       5/3/20   4:14 PM - Abhishek tyagi changed this group's...
4       5/3/20   4:21 PM - Abhishek tyagi changed the subject ...
...        ...                                                ...
11384  9/28/20   6:03 PM - Urban Pendu: 1 upvote tune kiya h @...
11385  9/28/20                          6:21 PM - Sahil Dite: Mne
11386  9/28/20   6:28 PM - Urban Pendu: Ek notebook pe 2 vote ...
11387  9/28/20          6:28 PM - Urban Pendu: Isliye usse puchha
11388  9/28/20                         6:29 PM - Sahil Dite: Acha

[11389 rows x 2 columns]

In [5]:
chat.columns = ["Date", "Chat"]
chat

          Date                                               Chat
0       5/3/20   4:14 PM - Messages and calls are end-to-end e...
1       5/3/20   4:14 PM - Abhishek tyagi created group "Final...
2       5/3/20                 4:14 PM - Abhishek tyagi added you
3       5/3/20   4:14 PM - Abhishek tyagi changed this group's...
4       5/3/20   4:21 PM - Abhishek tyagi changed the subject ...
...        ...                                                ...
11384  9/28/20   6:03 PM - Urban Pendu: 1 upvote tune kiya h @...
11385  9/28/20                          6:21 PM - Sahil Dite: Mne
11386  9/28/20   6:28 PM - Urban Pendu: Ek notebook pe 2 vote ...
11387  9/28/20          6:28 PM - Urban Pendu: Isliye usse puchha
11388  9/28/20                         6:29 PM - Sahil Dite: Acha

[11389 rows x 2 columns]

In [6]:
message = chat["Chat"].str.split("-", n= 1, expand = True)
message.columns = ["Time", "Message"]
message

            Time                                            Message
0       4:14 PM    Messages and calls are end-to-end encrypted. ...
1       4:14 PM     Abhishek tyagi created group "Final Year Works"
2       4:14 PM                            Abhishek tyagi added you
3       4:14 PM            Abhishek tyagi changed this group's icon
4       4:21 PM    Abhishek tyagi changed the subject from "Fina...
...          ...                                                ...
11384   6:03 PM    Urban Pendu: 1 upvote tune kiya h @9199977821...
11385   6:21 PM                                     Sahil Dite: Mne
11386   6:28 PM    Urban Pendu: Ek notebook pe 2 vote the.. tu t...
11387   6:28 PM                     Urban Pendu: Isliye usse puchha
11388   6:29 PM                                    Sahil Dite: Acha

[11389 rows x 2 columns]

In [7]:
chat = chat.drop("Chat", axis = 1)
chat["Time"] = message["Time"]
chat["Message"] = message["Message"]
chat.head(5)

     Date       Time                                            Message
0  5/3/20   4:14 PM    Messages and calls are end-to-end encrypted. ...
1  5/3/20   4:14 PM     Abhishek tyagi created group "Final Year Works"
2  5/3/20   4:14 PM                            Abhishek tyagi added you
3  5/3/20   4:14 PM            Abhishek tyagi changed this group's icon
4  5/3/20   4:21 PM    Abhishek tyagi changed the subject from "Fina...

In [8]:
message = chat["Message"].str.split(":", n= 1, expand = True)
message.columns = ["Name", "Message"]
message

,Name,Message
0,Messages and calls are end-to-end encrypted. ...,None
1,"Abhishek tyagi created group ""Final Year Works""",None
2,Abhishek tyagi added you,None
3,Abhishek tyagi changed this group's icon,None
4,"Abhishek tyagi changed the subject from ""Fina...",None
...,...,...
11384,Urban Pendu,1 upvote tune kiya h @919997782184 ?
11385,Sahil Dite,Mne
11386,Urban Pendu,Ek notebook pe 2 vote the.. tu to ek hi de sa...
11387,Urban Pendu,Isliye usse puchha
11388,Sahil Dite,Acha

In [9]:
chat = chat.drop("Message", axis = 1)
chat["Name"] = message["Name"]
chat["Message"] = message["Message"]
chat.head(10)

,Date,Time,Name,Message
0,5/3/20,4:14 PM,Messages and calls are end-to-end encrypted. ...,None
1,5/3/20,4:14 PM,"Abhishek tyagi created group ""Final Year Works""",None
2,5/3/20,4:14 PM,Abhishek tyagi added you,None
3,5/3/20,4:14 PM,Abhishek tyagi changed this group's icon,None
4,5/3/20,4:21 PM,"Abhishek tyagi changed the subject from ""Fina...",None
5,5/3/20,6:16 PM,Sahil Dite,Wse Mudit ko bhaga deta wo char log wale grou...
6,5/3/20,6:16 PM,Abhishek tyagi,Soch to Raha tha
7,5/3/20,6:16 PM,Abhishek tyagi,Lekin ye group baato ke liye na banaya
8,5/3/20,6:16 PM,Sahil Dite,Acha
9,5/3/20,6:16 PM,Sahil Dite,Wo to us group m bhi na hoti

In [10]:
chat['Message'] = chat['Message'].str.lower()
chat.dropna(axis = 0, inplace = True)
chat.head()

,Date,Time,Name,Message
5,5/3/20,6:16 PM,Sahil Dite,wse mudit ko bhaga deta wo char log wale grou...
6,5/3/20,6:16 PM,Abhishek tyagi,soch to raha tha
7,5/3/20,6:16 PM,Abhishek tyagi,lekin ye group baato ke liye na banaya
8,5/3/20,6:16 PM,Sahil Dite,acha
9,5/3/20,6:16 PM,Sahil Dite,wo to us group m bhi na hoti

In [11]:
chat

,Date,Time,Name,Message
5,5/3/20,6:16 PM,Sahil Dite,wse mudit ko bhaga deta wo char log wale grou...
6,5/3/20,6:16 PM,Abhishek tyagi,soch to raha tha
7,5/3/20,6:16 PM,Abhishek tyagi,lekin ye group baato ke liye na banaya
8,5/3/20,6:16 PM,Sahil Dite,acha
9,5/3/20,6:16 PM,Sahil Dite,wo to us group m bhi na hoti
...,...,...,...,...
11384,9/28/20,6:03 PM,Urban Pendu,1 upvote tune kiya h @919997782184 ?
11385,9/28/20,6:21 PM,Sahil Dite,mne
11386,9/28/20,6:28 PM,Urban Pendu,ek notebook pe 2 vote the.. tu to ek hi de sa...
11387,9/28/20,6:28 PM,Urban Pendu,isliye usse puchha
11388,9/28/20,6:29 PM,Sahil Dite,acha

In [12]:
chat["Message"] = chat["Message"].str.replace(" <media omitted>", "Media_Shared")
chat["Message"] = chat["Message"].str.replace(" this message was deleted", "Message_Deleted")
chat.head(5)

,Date,Time,Name,Message
5,5/3/20,6:16 PM,Sahil Dite,wse mudit ko bhaga deta wo char log wale grou...
6,5/3/20,6:16 PM,Abhishek tyagi,soch to raha tha
7,5/3/20,6:16 PM,Abhishek tyagi,lekin ye group baato ke liye na banaya
8,5/3/20,6:16 PM,Sahil Dite,acha
9,5/3/20,6:16 PM,Sahil Dite,wo to us group m bhi na hoti

In [13]:
print(chat["Name"].unique())

[' Sahil Dite' ' Abhishek tyagi' ' Urban Pendu' ' Sidhant Dite']

In [14]:
chat.reset_index(inplace = True)
chat.drop(['index'],axis=1,inplace=True)
chat["Name"] = chat["Name"].str.replace("Urban Pendu", "Yash Arora")
chat["Name"] = chat["Name"].str.replace("Abhishek tyagi", "Abhishek Tyagi")
chat["Name"] = chat["Name"].str.replace("Sahil Dite", "Sahil Kumar")
chat["Name"] = chat["Name"].str.replace("Sidhant Dite", "Siddhant Jha")
chat

,Date,Time,Name,Message
0,5/3/20,6:16 PM,Sahil Kumar,wse mudit ko bhaga deta wo char log wale grou...
1,5/3/20,6:16 PM,Abhishek Tyagi,soch to raha tha
2,5/3/20,6:16 PM,Abhishek Tyagi,lekin ye group baato ke liye na banaya
3,5/3/20,6:16 PM,Sahil Kumar,acha
4,5/3/20,6:16 PM,Sahil Kumar,wo to us group m bhi na hoti
...,...,...,...,...
10907,9/28/20,6:03 PM,Yash Arora,1 upvote tune kiya h @919997782184 ?
10908,9/28/20,6:21 PM,Sahil Kumar,mne
10909,9/28/20,6:28 PM,Yash Arora,ek notebook pe 2 vote the.. tu to ek hi de sa...
10910,9/28/20,6:28 PM,Yash Arora,isliye usse puchha
10911,9/28/20,6:29 PM,Sahil Kumar,acha

In [15]:
msg_sent_per_member = chat["Name"].value_counts()
msg_sent_per_member

 Abhishek Tyagi    4432
 Yash Arora        3027
 Sahil Kumar       2481
 Siddhant Jha       972
Name: Name, dtype: int64

In [16]:
print(chat["Date"].value_counts().head(5))
print("Number of Days in which messgaes were exchanged : ", chat["Date"].value_counts().count())

8/25/20    525
9/9/20     421
8/23/20    411
9/26/20    398
7/7/20     390
Name: Date, dtype: int64
Number of Days in which messgaes were exchanged :  125

In [17]:
media_shared = chat["Message"] == "Media_Shared"
media = chat[media_shared]
media["Name"].value_counts()

 Yash Arora        585
 Abhishek Tyagi    462
 Sahil Kumar       365
 Siddhant Jha      150
Name: Name, dtype: int64

In [18]:
message_deleted = chat["Message"] == "Message_Deleted"
deleted = chat[message_deleted]
deleted["Name"].value_counts()

 Abhishek Tyagi    31
 Sahil Kumar       16
 Siddhant Jha       8
Name: Name, dtype: int64